<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update account</title>
</head>
<body>
{% extends 'header.html' %}
{% block content %}
<div class="container">
    <div class="col-lg-5 mx-auto border rounded pt-4">
<h1 align="center">Update account</h1>
<form method="post">
        {% csrf_token %}
        {% for display in result %}
         <div class="form-group">
            <label for="example-text-input1" class="col-form-label">Username <span class="star" style="color: red">*</span></label>
            <input class="form-control form-control-sm" type="text" id="example-text-input1" value="{{display.name}}"  name="uname" >
          </div>

             <div class="form-group">
            <label for="example-text-input2" class="col-form-label">Email<span class="star" style="color: red">*</span></label>
            <input class="form-control form-control-sm" type="text" id="example-text-input2" value="{{display.email}}"  name="mail" >
          </div>

            <div class="form-group">
            <label for="example-text-input3" class="col-form-label">Address<span class="star" style="color: red">*</span></label>
            <input class="form-control form-control-sm" type="text" id="example-text-input3" value="{{display.address}}"  name="add" >
          </div>

            <div class="form-group">
            <label for="example-text-input4" class="col-form-label">Mobile<span class="star" style="color: red">*</span></label>
            <input class="form-control form-control-sm" type="text" id="example-text-input4" value="{{display.mobile}}"  name="no" >
          </div>

            <div class="form-group">
            <label for="example-text-input5" class="col-form-label">Password<span class="star" style="color: red">*</span></label>
            <input class="form-control form-control-sm" type="text" id="example-text-input5" value="{{display.password}}"  name="pass" >
          </div>

    {% endfor %}

    <input type="submit" name="up_account">
</form>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
</body>
</html>